extends /src/views/base.pug

include mixins/box-panel

block prepend title
	- title = app.title
	- heading = title
	- activeApp = 'reports'

block contents
	if boxes.length > 0
		each box, p in boxes
			+box-panel(box)
	else
		hr
		+messageBlock( 'info', 'There are no boxes to display.' )
